<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <!-- <link rel="shortcut icon" href="favicon.png"> -->

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="css/tiny-slider.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <title>BookStore </title>
</head>

<body>
<%- include("../../views/partials/users/header") %>

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Book Heaven <span class="d-block">Literary Paradise</span></h1>
          <p class="mb-4">Books are a uniquely portable magic.
			In the pages of a book, we find adventure, wisdom, and solace.
			Dive into a book, and let your imagination soar.</p>
          <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="/images/kid-banner.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
		<% if (products.length === 0) { %>
			<p>No products available at the moment.</p>
		  <% } else { %>
			<% products.forEach(product => { %>
			  <!-- Start Column -->
			  <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="/product/<%= product._id %>">
				  <img src="<%= product.productImage[0] %>" class="img-fluid product-thumbnail">
				  <h3 class="product-title"><%= product.productName %></h3>
				  <strong class="product-price">$<%= product.salePrice %></strong>
				  <% if (product.productOffer > 0) { %>
					<span class="product-offer">Offer: <%= product.productOffer %>% off</span>
				  <% } %>
				  <span class="icon-cross">
					<img src="images/cross.svg" class="img-fluid">
				  </span>
				</a>
			  </div>
			  <!-- End Column -->
			<% }); %>
		  <% } %>
          
    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/truck.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Fast &amp; Free Shipping</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/bag.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Easy to Shop</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/support.svg" alt="Image" class="img-fluid">
              </div>
              <h3>24/7 Support</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/return.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Hassle Free Returns</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="../../images/why-choose.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->



<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="../../images/book5.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>Nick Mack's <br> Good Luck</h3>
            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="../../images/book2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>And then she <br> she was Gone</h3>
            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="../../images/book6.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>The Alchemist</h3>
            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Popular Product -->


        
<!-- End Testimonial Slider -->

<!-- End Blog Section -->	
<%- include("../../views/partials/users/footer") %>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
