<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Profile Page</title>
  <link rel="icon" href="img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="css/slick.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="css/style.css">
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <%- include('header') %>

  <!-- Profile section start -->
  <section class="contact-section padding_top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Your Profile</h2>
        </div>
        <div class="col-lg-4">
          <div class="profile-header">
            <div class="d-flex align-items-center">
              <div class="ml-3">
                <h3>Hello, <%= user.name %></h3>
              </div>
            </div>
          </div>
          <div class="media contact-info mt-4">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <% if (addresses && addresses.length > 0) { %>
                  <h3><%= addresses[0].addressType %></h3>
                  <p><%= addresses[0].name %>, <%= addresses[0].landMark %>, <%= addresses[0].city %>, <%= addresses[0].state %> - <%= addresses[0].pincode %></p>
                  <p>Phone: <%= addresses[0].phone %></p>
                  <p>Alternate Phone: <%= addresses[0].altPhone %></p>
              <% } else { %>
                  <h3>No Address Updated</h3>
              <% } %>
            </div>
          </div>
          <div class="media contact-info mt-2">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3><%= user.phone %></h3>
            </div>
          </div>
          <div class="media contact-info mt-2">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3><%= user.email %></h3>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- Profile update form -->
          <form class="form-contact contact_form" action="/updateProfile" method="post" id="profileForm"
            novalidate="novalidate">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" value="<%= user.name %>" placeholder='Enter your name'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" value="<%= user.email %>" placeholder='Enter email address'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="phone" id="phone" type="text" value="<%= user.phone %>" placeholder='Enter phone number'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="btn_3 button-contactForm">Update Profile</button>
              <button type="button" class="btn_3 button-contactForm" data-toggle="modal" data-target="#resetPasswordModal">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Profile section end -->

  <!-- Reset Password Modal -->
  <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="resetPasswordForm" action="/resetPassword" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
              <label for="confirmNewPassword">Confirm New Password</label>
              <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--::footer_part start::-->
  <footer class="footer_part">
    <div class="container">
      <div class="copyright_part">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="copyright_text">
                <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer_icon social_icon">
                <ul class="list-unstyled">
                  <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                  <li><a href="#" class="single social_icon"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.magnific-popup.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/masonry.pkgd.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function (e) {
      const newPassword = document.getElementById('newPassword').value;
      const confirmNewPassword = document.getElementById('confirmNewPassword').value;

      if (newPassword !== confirmNewPassword) {
        e.preventDefault();
        alert('New passwords do not match');
      }
    });

    $(document).ready(function() {
      $('#resetPasswordForm').submit(function(e) {
        e.preventDefault();

        var currentPassword = $('#currentPassword').val();
        var newPassword = $('#newPassword').val();
        var confirmNewPassword = $('#confirmNewPassword').val();
        
        if (newPassword !== confirmNewPassword) {
          alert('New password and confirm password do not match!');
          return;
        }

        $.ajax({
          url: '/resetPassword',
          method: 'POST',
          data: {
            currentPassword: currentPassword,
            newPassword: newPassword,
            confirmNewPassword: confirmNewPassword,
          },
          success: function(response) {
            if (response.success) {
              alert('Password updated successfully!');
              $('#resetPasswordModal').modal('hide');
            } else {
              alert('An error occurred: ' + response.message);
            }
          },
          error: function(xhr) {
            alert('An error occurred. Please try again.');
          }
        });
      });
    });
  </script>
</body>

</html>
